<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title> <% if (page_name === 'index') { %> DASHBOARD<% } %> 
            <% if (page_name === 'g2test') { %> G2 Test<% } %> 
            <% if (page_name === 'gtest') { %> G Test<% } %>
            <% if (page_name === 'gtestUser') { %> G Test<% } %> 
            <% if (page_name === 'notFound') { %> Not Found<% } %>   
            <% if (page_name === 'login') { %> Login<% } %> 
    </title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/assets/car-48.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet" />
</head>