<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="#!">Book DriveTest</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link <% if (page_name === 'index') { %> active<% } %>" href="/">DASHBOARD</a></li>
                <% if(loggedIn && loggedInUserType == 'Driver') {%>
                    <li class="nav-item"><a class="nav-link <% if (page_name === 'g2test') { %> active<% } %>" href="/g2test">G2_TEST</a></li>
                    <li class="nav-item"><a class="nav-link <% if (page_name === 'gtest') { %> active<% } %>" href="/gtest">G_TEST</a></li>
                    <li class="nav-item"><a class="nav-link" href="/auth/logout">LOGOUT</a></li>
                <% } %>

                <% if(loggedIn && loggedInUserType == 'Admin') {%>
                    <li class="nav-item"><a class="nav-link <% if (page_name === 'appointment') { %> active<% } %>" href="/admins/appointment">APPOINTMENT</a></li>
                    <li class="nav-item"><a class="nav-link <% if (page_name === 'testresults') { %> active<% } %>" href="/testresults">TEST RESULTS</a></li>
                    <li class="nav-item"><a class="nav-link" href="/auth/logout">LOGOUT</a></li>
                <% } %>

                <% if(loggedIn && loggedInUserType == 'Examiner') {%>
                    <li class="nav-item"><a class="nav-link <% if (page_name === 'examiner') { %> active<% } %>" href="/examiner">EXAMINER</a></li>
                    <li class="nav-item"><a class="nav-link" href="/auth/logout">LOGOUT</a></li>
                <% } %>

                <% if(!loggedIn) { %>
                    <li class="nav-item"><a class="nav-link <% if (page_name === 'login') { %> active<% } %>" href="/auth/login">LOGIN</a></li>
                    <li class="nav-item"><a class="nav-link <% if (page_name === 'signup') { %> active<% } %>" href="/auth/signup">SIGN UP</a></li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>